# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\erwin\Documents\FH Campus02\Bsc Business Data Science\1. Semester\Software Design 1\Übungsbeispiele\Übungsbeispiele 7\Vorlage_Hofer\Houseplan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
